.cabecera{
    width: 100%; 
}
#logo{
    height: 150px;
    width: 100%;
}
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 650px;
    background-image: url(../src/las_estrellas_tienen_luz_propia_1578_orig.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 20px;
}
.card img{
    width: 70%;
    margin: auto;
    border-radius: 30%;
    margin-top: -10%;
    background-color: chocolate;
    
}

.card-footer-social {
    width: 100%;
    position: relative;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1.3rem;
 
   
  }
